---
import MainHead from '../../../components/MainHead.astro';
import Footer from '../../../components/Footer.astro';
import Nav from '../../../components/Nav.astro';
---
<html lang="es">
    <head>
        <MainHead title="Nosotros | Perú" description="Acerca de AGI" />
    </head>
    <body>
        <Nav />
        
        <Footer />
    </body>
</html>