---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';
---

<html lang="en">
	<head>
		<MainHead title="Not Found" />
		<style>
			.wrapper {
				margin-top: 12em;
				margin-bottom: 12em;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>No se encontro</h1>
			<p></p>
		</div>
		<Footer />
	</body>
</html>
