<nav id="megavar" class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="link-img" id="logo" href="/">
      <img src="https://raw.githubusercontent.com/cristhiansemper/AGI/357dc025f2ad15832f43def04886d5f9f5010b9a/public/AGI-Logo.svg" alt="logoAGI" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#main_nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main_nav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown has-megamenu">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
          >
            Productos
          </a>
          <div class="dropdown-menu megamenu" role="menu">
            <div class="row g-3">
              <div class="col-lg-2 col-6">
                <div class="col-megamenu">
                  <h6 class="title">Almacenamiento</h6>
                  <ul class="list-unstyled">
                    <li>
                      <a class="link-secondary" href="#">Silos de granos</a>
                    </li>
                    <li>
                      <a class="link-secondary" href="#"
                        >Productos para tolvas</a
                      >
                    </li>
                    <li><a class="link-secondary" href="#">Accesorios</a></li>
                  </ul>
                </div>
                <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="col-lg-2 col-6">
                <div class="col-megamenu">
                  <h6 class="title">Acondicionamiento</h6>
                  <ul class="list-unstyled">
                    <li>
                      <a class="link-secondary" href="#"
                        >Secadoras de flujo mixto</a
                      >
                    </li>
                    <li>
                      <a class="link-secondary" href="#"
                        >Ventiladores y calentadores</a
                      >
                    </li>
                    <li><a class="link-secondary" href="#">Aireacion</a></li>
                    <li><a class="link-secondary" href="#">Airaugers</a></li>
                    <li>
                      <a class="link-secondary" href="#">Pisos de aireacion</a>
                    </li>
                    <li>
                      <a class="link-secondary" href="#"
                        >Respiraderos y extractores</a
                      >
                    </li>
                    <li><a class="link-secondary" href="#">Agiticion</a></li>
                  </ul>
                </div>
                <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="col-lg-2 col-6">
                <div class="col-megamenu">
                  <h6 class="title">Manipulación permanente</h6>
                  <ul class="list-unstyled">
                    <li>
                      <a class="link-secondary" href="#"
                        >Elevadores de cangilones</a
                      >
                    </li>
                    <li>
                      <a class="link-secondary" href="#"
                        >Transportadoras de cadena</a
                      >
                    </li>
                    <li>
                      <a class="link-secondary" href="#"
                        >Cintas transportadoras</a
                      >
                    </li>
                    <li>
                      <a class="link-secondary" href="#"
                        >Cintas transportadoras cerradas</a
                      >
                    </li>
                    <li>
                      <a class="link-secondary" href="#">Distribuidores</a>
                    </li>
                    <li>
                      <a class="link-secondary" href="#"
                        >Manipulación de pienso</a
                      >
                    </li>
                    <li>
                      <a class="link-secondary" href="#">Caños y conexiones</a>
                    </li>
                  </ul>
                </div>
                <!-- col-megamenu.// -->
              </div>
              <div class="col-lg-2 col-6">
                <div class="col-megamenu">
                  <h6 class="title">Estructuras</h6>
                  <ul class="list-unstyled">
                    <li>
                      <a class="link-secondary" href="#"
                        >Construcciones completamente en acero</a
                      >
                    </li>
                    <li><a class="link-secondary" href="#">Torres</a></li>
                    <li>
                      <a class="link-secondary" href="#">Pasarelas elevadas</a>
                    </li>
                    <li><a class="link-secondary" href="#">Escalas</a></li>
                  </ul>
                </div>
                <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
              <div class="col-lg-2 col-6">
                <div class="col-megamenu">
                  <h6 class="title">Procesamiento</h6>
                  <ul class="list-unstyled">
                    <li>
                      <a class="link-secondary" href="#">Mezcladores de lotes</a
                      >
                    </li>
                    <li>
                      <a class="link-secondary" href="#"
                        >Mezcladores de peso decreciente</a
                      >
                    </li>
                    <li>
                      <a class="link-secondary" href="#"
                        >Mezcladores verticales</a
                      >
                    </li>
                    <li><a class="link-secondary" href="#">Mezcladores</a></li>
                    <li><a class="link-secondary" href="#">Molienda</a></li>
                  </ul>
                </div>
                <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
			  <div class="col-lg-2 col-6">
                <div class="col-megamenu">
                  <h6 class="title">Tecnología</h6>
                  <ul class="list-unstyled">
                    <li>
                      <a class="link-secondary" href="#">Controladores</a
                      >
                    </li>
                    <li>
                      <a class="link-secondary" href="#"
                        >Monitoreo de peligros</a
                      >
                    </li>
                    <li>
                      <a class="link-secondary" href="#"
                        >Monitoreo y automatizacion</a
                      >
                    </li>
                    <li><a class="link-secondary" href="#">Soluciones de muestreo</a></li>
                  </ul>
                </div>
                <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
            </div><!-- end row -->
          </div>
          <!-- dropdown-mega-menu.// -->
        </li>
        <li class="nav-item dropdown has-megamenu">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            data-bs-toggle="dropdown"
          >
            Marcas
          </a>
          <div class="dropdown-menu megamenu" role="menu">
            <div class="row g-3">
              <div class="col-lg-11">
                <div class="col-megamenu">
                  <div class="row row-11">
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">AIRLANCO</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">CMC</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">VENTILADORES AGI</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">FRAME</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">GRAIN GUARD</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">GRAINMAXX</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">HI ROLLER</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">HUTCHINSON</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">MAYRATH</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">MILLTEC</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">NECO</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">NUVISION</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">PTM TECHNOLOGY</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">SABE</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">SENTINEL</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">TRAMCO</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">VIS</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">WESTEEL</a>
                    </div>
                    <div class="col col-md-2 col-sm-3">
                      <a class="link-secondary" href="#">YARGUS</a>
                    </div>
                  </div>
                </div>
                <!-- col-megamenu.// -->
              </div><!-- end col-3 -->
            </div><!-- end row -->
          </div>
          <!-- dropdown-mega-menu.// -->
        </li>
		<li class="nav-item dropdown has-megamenu">
			<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Semilla  </a>
			<div class="dropdown-menu megamenu" role="menu">
				<div class="row g-3">
					<div class="col-lg-3 col-6">
						<div class="col-megamenu">
							<ul class="list-unstyled">
								<li><a class="link-secondary"  href="#">Almacenamiento</a></li>
								<li><a class="link-secondary"  href="#">Manipulación</a></li>
								<li><a class="link-secondary"  href="#">Procesamiento</a></li>
								<li><a class="link-secondary"  href="#">Ingeniería</a></li>
							</ul>
						</div>  <!-- col-megamenu.// -->
					</div><!-- end col-3 -->
				</div><!-- end row --> 
			</div> <!-- dropdown-mega-menu.// -->
		</li>
		<li class="nav-item dropdown has-megamenu">
			<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Fertilizante  </a>
			<div class="dropdown-menu megamenu" role="menu">
				<div class="row g-3">
					<div class="col-lg-3 col-6">
						<div class="col-megamenu">
							<ul class="list-unstyled">
								<li><a class="link-secondary"  href="#">Manipulación</a></li>
								<li><a class="link-secondary"  href="#">Almacenamiento</a></li>
								<li><a class="link-secondary"  href="#">Estructuras</a></li>
								<li><a class="link-secondary"  href="#">Tecnología</a></li>
								<li><a class="link-secondary"  href="#">Ingeniería</a></li>
								<li><a class="link-secondary"  href="#">Gestión de proyectos</a></li>
							</ul>
						</div>  <!-- col-megamenu.// -->
					</div><!-- end col-3 -->
				</div><!-- end row --> 
			</div> <!-- dropdown-mega-menu.// -->
		</li>
		<li class="nav-item dropdown has-megamenu">
			<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Grano  </a>
			<div class="dropdown-menu megamenu" role="menu">
				<div class="row g-3">
					<div class="col-lg-3 col-6">
						<div class="col-megamenu">
							<ul class="list-unstyled">
								<li><a class="link-secondary"  href="#">Almacenamiento</a></li>
								<li><a class="link-secondary"  href="#">Estructuras</a></li>
								<li><a class="link-secondary"  href="#">Manipulación</a></li>
								<li><a class="link-secondary"  href="#">Procesamiento</a></li>
								<li><a class="link-secondary"  href="#">Tecnología</a></li>
								<li><a class="link-secondary"  href="#">Ingeniería</a></li>
								<li><a class="link-secondary"  href="#">Gestión de proyectos</a></li>
							</ul>
						</div>  <!-- col-megamenu.// -->
					</div><!-- end col-3 -->
				</div><!-- end row --> 
			</div> <!-- dropdown-mega-menu.// -->
		</li>
		<li class="nav-item dropdown has-megamenu">
			<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Pienso  </a>
			<div class="dropdown-menu megamenu" role="menu">
				<div class="row g-3">
					<div class="col-lg-3 col-6">
						<div class="col-megamenu">
							<ul class="list-unstyled">
								<li><a class="link-secondary"  href="#">Almacenamiento</a></li>
								<li><a class="link-secondary"  href="#">Manipulación</a></li>
								<li><a class="link-secondary"  href="#">Ingeniería</a></li>
								<li><a class="link-secondary"  href="#">Gestión de proyectos</a></li>
							</ul>
						</div>  <!-- col-megamenu.// -->
					</div><!-- end col-3 -->
				</div><!-- end row --> 
			</div> <!-- dropdown-mega-menu.// -->
		</li>
		<li class="nav-item dropdown has-megamenu">
			<a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"> Alimentos  </a>
			<div class="dropdown-menu megamenu" role="menu">
				<div class="row g-3">
					<div class="col-lg-3 col-6">
						<div class="col-megamenu">
							<ul class="list-unstyled">
								<li><a class="link-secondary"  href="#">Procesamiento</a></li>
								<li><a class="link-secondary"  href="#">Ingeniería</a></li>
								<li><a class="link-secondary"  href="#">Gestión de proyectos</a></li>
							</ul>
						</div>  <!-- col-megamenu.// -->
					</div><!-- end col-3 -->
				</div><!-- end row --> 
			</div> <!-- dropdown-mega-menu.// -->
		</li>
		
      </ul>
      
    </div>
    <!-- navbar-collapse.// -->
  </div>
  <!-- container-fluid.// -->
</nav>
<style type="text/css">
  .navbar .megamenu {
    padding: 1rem;
  }
  /* ============ desktop view ============ */
  @media all and (min-width: 992px) {
    .navbar .has-megamenu {
      position: static !important;
    }
    .navbar .megamenu {
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 0;
    }
  }
  /* ============ desktop view .end// ============ */

  /* ============ mobile view ============ */
  @media (max-width: 991px) {
    .navbar.fixed-top .navbar-collapse,
    .navbar.sticky-top .navbar-collapse {
      overflow-y: auto;
      max-height: 90vh;
      margin-top: 10px;
    }
  }
  /* ============ mobile view .end// ============ */

  #megavar {
    background-color: #26272b;
  }
  .title {
    font-size: larger;
  }
</style>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function () {
    /////// Prevent closing from click inside dropdown
    document.querySelectorAll(".dropdown-menu").forEach(function (element) {
      element.addEventListener("click", function (e) {
        e.stopPropagation();
      });
    });
  });
  // DOMContentLoaded  end
</script>
